.contact .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 4rem;
}

.mail {
  color: var(--main-color-1);
  font-size: 1.1rem;
  transition: 0.3s;
  font-weight: 600;
}

.mail i {
  display: inline-block;
  font-size: 1.5rem;
  margin-left: 2px;
  transform: translateY(3px);
  transition: 0.3s margin-left;
}

.mail:hover {
  color: var(--main-color-dark-1);
}

.mail:hover i {
  margin-left: 10px;
}

.contact-form {
  background-color: var(--bg-color-2);
  border-radius: 20px;
  padding: 3.5rem 3rem;
  display: flex;
  flex-direction: column;
  transition: 0.7s ease-in-out background-color;
}

.contact-form h3 {
  color: var(--heading-color);
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 1.6rem;
  line-height: 0.9;
  transition: 0.7s ease-in-out color;
}

.form-input {
  display: inline-block;
  padding: 0.9rem 1.5rem;
  background-color: var(--bg-color-3);
  border: 2.5px solid var(--bg-color-3);
  width: 100%;
  border-radius: 17px;
  font-family: inherit;
  font-size: 0.85rem;
  font-weight: 600;
  color: var(--heading-color);
  outline: none;
  transition: 0.3s ease-in-out, 0.7s ease-in-out background-color,
    0.7s ease-in-out border-color, 0.7s ease-in-out color;
}

.form-input:hover {
  filter: brightness(95%);
}

.form-input:focus,
.form-input:valid {
  filter: brightness(100%);
  background-color: var(--bg-color-1);
  border-color: var(--main-color-1);
}

.form-input::placeholder {
  color: var(--text-color);
}

textarea.form-input {
  resize: none;
  min-height: 170px;
}

.contact-form .form-input {
  margin-bottom: 1.5rem;
}

.contact .square {
  position: absolute;
  left: 16%;
  bottom: 20%;
  transform: translate(-50%, -50%);
}

.contact .triangle {
  position: absolute;
  left: 89%;
  top: 95%;
  opacity: 0.5;
  transform: translate(-50%, -50%);
}
