:root {
  --hue-1: 257;
  --hue-2: 47;
  --main-color-1: hsl(var(--hue-1), 100%, 60%);
  --main-color-dark-1: hsl(var(--hue-1), 69%, 50%);
  --main-color-2: hsl(var(--hue-2), 100%, 61%);
  --main-color-dark-2: hsl(var(--hue-2), 82%, 55%);
  --section-padding: 7rem;
}

body {
  --bg-color: hsl(var(--hue-1), 100%, 97%);
  --bg-color-1: hsl(var(--hue-1), 100%, 95.5%);
  --bg-color-2: #fff;
  --bg-color-3: hsl(var(--hue-1), 100%, 98%);
  --bg-color-transparent: rgba(255, 255, 255, 0.6);
  --heading-color: hsl(var(--hue-1), 61%, 24%);
  --text-color: hsl(var(--hue-1), 17%, 63%);
}

body.dark {
  --bg-color: hsl(var(--hue-1), 19%, 15%);
  --bg-color-1: hsl(var(--hue-1), 21%, 11%);
  --bg-color-2: hsl(var(--hue-1), 23%, 19%);
  --bg-color-3: hsl(var(--hue-1), 23%, 24%);
  --bg-color-transparent: hsla(var(--hue-1), 23%, 19%, 0.6);
  --heading-color: hsl(var(--hue-1), 100%, 95%);
  --text-color: hsl(var(--hue-1), 14%, 51%);
}

body.dark .shape.square {
  opacity: 0.07;
}

body.dark .toggle-btn {
  background-color: var(--bg-color-3);
}

body.dark .toggle-btn:hover {
  filter: brightness(120%);
}

body.dark .research_svg__st1,
body.dark .testing_svg__st1,
body.dark .design_svg__st1,
body.dark .prototype_svg__st1 {
  fill: hsl(var(--hue-1), 18%, 29%);
}

body.dark .nav-link:hover::after,
body.dark .nav-link.active::after {
  opacity: 0.6;
  width: 100%;
}

body.dark .form-input:hover {
  filter: brightness(120%);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: var(--main-color-1);
  transition: 0.7s ease-in-out background-color;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-color);
}

.stopScrolling {
  height: 100%;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

::selection {
  background-color: hsla(var(--hue-1), 100%, 60%, 0.9);
  color: #fff;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

footer {
  padding: 4rem 0;
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

footer .social-media {
  display: flex;
  align-items: center;
}

footer .social-media .social-link {
  margin-left: 1rem;
  height: 40px;
  width: 40px;
  font-size: 18px;
  border-radius: 50%;
  background-color: var(--bg-color-1);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  transition: 0.7s ease-in-out color, 0.7s ease-in-out background-color;
}

footer .social-link:hover {
  color: var(--main-color-1);
}
