/* ------------------------------------------------ width 1000px ------------------------------------------------- */

@media (max-width: 1000px) {
  :root {
    --section-padding: 2rem;
  }
  .logo {
    font-size: 1.45rem;
  }

  header .logo {
    height: 100px;
    line-height: 100px;
  }

  .nav-link {
    font-size: 0.7rem;
  }

  .showcase-area {
    padding: 100px 0;
  }

  .showcase-area .container {
    grid-template-columns: 1fr 400px;
    height: 450px;
  }
  .sub-heading {
    font-size: 0.75rem;
  }

  .heading {
    font-size: 2rem;
  }

  .showcase-area .heading {
    font-size: 2.7rem;
  }

  .text {
    font-size: 0.84rem;
    margin: 1.3rem 0;
  }

  .btn {
    padding: 0.8rem 1.6rem;
    font-size: 0.75rem;
    min-width: 100px;
    border-radius: 14px;
  }

  .btn-secondary-btn {
    font-size: 0.85rem;
  }

  .form-input {
    padding: 0.8rem 1.45rem;
    border-radius: 15px;
    font-size: 0.8rem;
  }

  .skills-box {
    padding: 4rem 2rem;
  }

  .sk-progress {
    transform: scale(0.85);
  }

  .filter-btn {
    font-size: 0.7rem;
  }

  .services .container {
    column-gap: 2rem;
  }

  .contact .container {
    column-gap: 2rem;
  }

  .contact-form {
    padding: 2.5rem 2rem;
  }

  .contact-form h3 {
    font-size: 1.1rem;
    margin-bottom: 1rem;
  }

  .contact .form-input {
    margin-bottom: 0.8rem;
  }

  .sub-box {
    column-gap: 2rem;
    padding: 3.5rem 2.5rem;
  }
}

/* ------------------------------------------------width 768px ------------------------------------------------- */

@media (max-width: 768px) {
  :root {
    --section-padding: 1rem;
  }

  .triangle {
    width: 70px;
    height: auto;
  }

  .dots {
    width: 65px;
    height: auto;
  }

  .square {
    width: 55px;
    height: auto;
  }
}
